//$font-family = Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif
$font-family = 'Open Sans', 'xingothic-tc-w3','微軟正黑體','Microsoft JhengHei'

// Font size
$font-size-base = 16px // 正文字体的大小
$font-size-small          = $font-size-base - 3px
$font-size-smaller        = $font-size-base - 6px
$font-size-large          = $font-size-base + 6px

// Headings font size
$font-family-headings     = Cambria, Georgia, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif;
$font-size-headings-base  = 32px
$font-size-headings-step  = 4px

$code-font-size = 13px // 代码字体的大小
